html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #004d1c, #006e8a);
}

.center {
  margin: auto;
  width: 50%;
}

h1 {
    color: white;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.animalButton {
  margin-top: 15px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  width: 200px;
  cursor: pointer;
}

button[value="cat"] {
    background-color: #21AC7C;
} 

button[value="dog"] {
    background-color: #D42B66} 