@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #0cb5f7; 
    


}

.petlifyNavbar {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.center {
  margin: auto;
  width: 50%;
}

h1 {
    color: black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.animalButton {
  margin-top: 10px;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  width: 200px;
  cursor: pointer;
}

button[value="cat"] {
    background-color: #21AC7C;
} 

button[value="dog"] {
    background-color: #D42B66} 

.thumbnail {
  padding-right: 0.5em;
  padding-right: 0.5em;
  transition: all .2s ease-in-out; 
}

.thumbnail:hover {
  transform: scale(1.075);
}